*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("../imagenes/perro.jpeg"); /* esta foto está por mientras, no es la final */
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    
}
#page-container {
    position: relative;
    min-height: 100vh; 
}
  
#content-wrap {
    padding-bottom: 2.5rem;}
  
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px
}

.links{
    flex: 1;
    text-align: right;
}

.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s
}

.links ul li:hover::after{
    width: 100%;
}

h2 {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px
}


.hero-btn {
    display: inline-block;
    text-decoration: none;
    color:cornflowerblue;
    border: 1px solid cornflowerblue;
    padding: 20px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 20px;
    margin: 0px auto;
}

.hero-btn:hover{
    border: 1px solid purple;
    background: purple;
    transition: 1s;
}

div {
    width: 320px;
    padding: 30px;
    background-color: white;
    margin: 0px auto;
  }
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

address {
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 700px) {
    h1{
        font-size: 20px;
    }
    .links ul li {
        display: block;
    }
    .links {
        position: absolute;
        background: cornflowerblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
